// Variables
$website-width: 1280px;
$primary-color: #0B486B;
$secondary-color: #FFBC00;
$light-color: #F4F4F4;
$dark-color: #333;

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  } @else {
    @return #FFF;
  }
}