@import 'config';
@import 'utilities';
@import 'item_grid';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: $primary-color;
  color: $dark-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Main Nav
#main-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  transition: 0.5;
  background: $primary-color;
  opacity: 0.8;
  width: 100%;
  height: 65px;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: all 0.5s;

    &:hover {
      border-color: $secondary-color;
      opacity: 1;
      color: $secondary-color;
    }

    &.current {
      border-color: $secondary-color;
    }
  }
}

// Header
#header {
  height: 100vh;
  color: #FFF;
  border-bottom: 3px solid $secondary-color;

  .header-content {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }

    .typewriter {
      margin-top: 1rem;
      height: 3.5rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .btn-light {
      margin-top: 1.5rem;
      width: 8%;
    }
  }
}

// About 
#about {
  background: #FFF;
  padding-top: 3rem;

  .about-info {
    margin-top: 3rem;
    display: grid;
    grid-template-areas: 'bioimage bio bio';
    gap: 1.2rem;
  }

  // Grid Area
  .bio-img {
    grid-area: bioimage;
  }

  .bio {
    grid-area: bio;
    border-left: 3px solid $secondary-color;
    padding: 1rem;

    .bio-text {
      h4 {
        padding: 2rem 0;
      }

      p:first-child {
        margin-bottom: 2rem;
      }
    }
  }

  // Timeline
  .timeline {
    ul {
      padding: 50px 0;
    }

    li {
      list-style: none;
      position: relative;
      width: 3px;
      margin: 0 auto;
      padding-top: 1rem;
      background: $secondary-color;

      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 1rem;
        background: $primary-color;
        color: #FFF;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
      }

      &:nth-child(odd) div {
        left: 40px;
        transform: translateX(200px);
      }

      &:nth-child(even) div {
        left: -465px;
        transform: translateX(-200px);
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 5px;
        width: 15px;
        height: 15px;
        background: inherit;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: background 0.5s ease-in-out;
      }
    }

    div:before {
      content: '';
      position: absolute;
      bottom: 5px;
      width: 0;
      height: 0;
      border-style: solid;
    }

    ul li:nth-child(odd) div:before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent $primary-color transparent transparent;
    }

    ul li:nth-child(even) div:before {
      right: -15px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent $primary-color;
    }

    /* Show boxes */
    ul li.show div {
      transform: none;
      visibility: visible;
      opacity: 0.9;
    }
  }
  
  // Skills
  .skills {
    margin-top: 3rem;
    border-top: 3px solid $secondary-color;
    border-bottom: 3px solid $secondary-color;

    .skills-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
      padding: 0 5rem;

      .skill-item i {
        font-size: 6rem;
        transition: all 0.3s;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Projects
#projects {
  background: #FFF;
  border-bottom: 3px solid $secondary-color;
}

// PDF
.container.pdf {
  .btn-light {
    margin: 1rem 0;
  }

  .resume_pdf {
    width: 100%;
    height: 100vh;
  }
}

// Mobile
@import 'mobile';

// Contact
#contact {
  padding: 3rem 0 2rem 0;
  color: set-text-color($primary-color);

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .social {
      padding: 1rem 0 0 0.8rem;

      .fab {
        margin: 0.9rem;
        color: #FFF;
        transition: color 0.5s;
  
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}